
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.pagewrap {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    min-width: 1200px;
}

#header {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 975px;
}

#logo {
    float: left;
    height: 144px;
    width: 355px;
}

#header ul {
    float: right;
    margin: 0;
    padding: 70px 0 0 0;
    overflow: hidden;
    width: 605px;
}

#header ul li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 121px;
}

#header ul li a {
    border-radius: 10px;
    background-color: #e0e0e0;
    color: #2a4f5e;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
    display: block;
    margin: 5px;
}

#header ul li a:hover {
    background-color: #346b84;
    color: #fff;
    text-shadow: none;
}

#mlogo {
    font-size: 100px;
    font-family: Leftist Mono Serif;
    float: right;
    margin: 5px 0px -25px;
    color: #346b84;
}

.line {
    margin-top: 10%;
    border: solid 0.5px #e2e2e2;
}

.line2 {
    border-bottom: solid 0.5px #e2e2e2;
    margin-top: -2px;
}

.image {
    float: right;
    margin-top: -535px;
    margin-right: 4%;
}

.image img {
    height: 535px;
}

.round {
    margin: -465px 0 0 45px;
}

.round img {
    overflow: hidden;
    width: 200px;
    border: 3px solid #FFF;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 0 0 2px #cacbcd;
}

.cont {
    margin-top: 2px;
    background: linear-gradient(#E4E8EB, #BBD2D8);
    height: 400px;
}

.txt {
    margin-left: 60px;
    color: #2c475a;
    width: 635px;
}

.txt p {
    margin-top: -7px;
}

.txt h1 {
    margin-top: -15px;
    margin-bottom: 25px
}

.btm {
    color: #b4b4b8;
    font-size: 12px;
    border-bottom: dashed;
    border-width: 2px;
}

.desc {
    height: 450px;
    margin-top: 15px;
    display: flex;
}

.desc div {
    margin-left: 8px;
}

.desc div p {
    color: #39444a;
    font-weight: bold;
    margin: 25px 0px 0px 25px
}

.desc div span {
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
}

.desc div li {
    color: #b4b4b8;
    border-bottom: dashed #b4b4b8;
    margin-top: 25px;
    border-width: 2px;
}

.footer {
    height: 170px;
    background-color: #f5f5f5;
    color: #848c8e;
    display: flex;
    margin-top: 45px;
}

.footer div {
    padding: 1.5em 0 0 0;
    margin-left: 90px;
    text-align: center;
}

.fot {
    display: inline-flex;
}

.fot img {
    margin: 25px 0 0 25px;
}

.fb {
    margin-top: -30px;
    margin-left: 5px!important;
}

.copyright {
    margin-top: -20px;
    height: 30px;
    background-color: #f5f5f5;
    color: #c6c6c6;
    text-align: center;
}